body {
  font-family: 'Poppins', sans-serif;
  background-color: #e9f2f3;
  color: rgb(34, 34, 34)
}

.btn-secondary {
  color: #fff;
  background-color: #9ca5ac;
  border-color: #9ca5ac;
}

.forbidden-text{
  font-weight: 700;
  font-size: 3rem;
}

.content {
  height: 100vh;
}